<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% for client in clients %}
            <title>{{ client.id }}</title>
            <title>{{ client.name }}</title>
            <title>{{ client.last_name }}</title>
        {% endfor %}
    </head>
</html>
